<% content_for :heading do %>
  <h1><%= t ".heading_html", :user => tag.span(@new_friend.display_name, :dir => :auto) %></h1>
<% end %>

<%= bootstrap_form_tag do |f| %>
  <% if params[:referer] -%>
  <%= f.hidden_field :referer, :value => params[:referer] %>
  <% end -%>
  <%= f.primary t(".button") %>
<% end %>
