<% @title = t(".title_html", :name => tag.span(@user.display_name, :dir => :auto)) %>
<% content_for :heading do %>
  <h1><%= t(".heading_html", :name => link_to(@user.display_name, user_path(@user), :dir => :auto)) %></h1>
<% end %>

<% unless @user_blocks.empty? %>
<%= render :partial => "blocks", :locals => { :show_revoke_link => can?(:revoke, UserBlock), :show_user_name => false, :show_creator_name => true } %>
<% else %>
<p><%= t ".empty_html", :name => tag.span(@user.display_name, :dir => :auto) %></p>
<% end %>
